<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Guardian - Minecraft Server Manager" Language="1033" Version="1.0.0" Manufacturer="Guardian Team" UpgradeCode="PUT-GUID-HERE">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="Guardian" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentRef Id="StartMenuShortcuts" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Guardian" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Guardian" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- Main executable -->
      <Component Id="MainExecutable" Guid="*">
        <File Id="GuardianExe" Name="guardian.exe" Source="guardian.exe" KeyPath="yes" />
      </Component>
      
      <!-- Backend services -->
      <Component Id="HostdService" Guid="*">
        <File Id="HostdExe" Name="hostd.exe" Source="hostd.exe" />
      </Component>
      
      <Component Id="GpuWorkerService" Guid="*">
        <File Id="GpuWorkerExe" Name="gpu-worker.exe" Source="gpu-worker.exe" />
      </Component>
      
      <!-- Configuration files -->
      <Component Id="ConfigFiles" Guid="*">
        <File Id="Configs" Name="configs" Source="configs" />
      </Component>
      
      <!-- Launcher scripts -->
      <Component Id="LauncherBatch" Guid="*">
        <File Id="LauncherBat" Name="start-guardian-with-backend.bat" Source="start-guardian-with-backend.bat" />
      </Component>
      
      <Component Id="LauncherPowerShell" Guid="*">
        <File Id="LauncherPs1" Name="start-guardian-with-backend.ps1" Source="start-guardian-with-backend.ps1" />
      </Component>
      
      <Component Id="CreateShortcutScript" Guid="*">
        <File Id="CreateShortcutPs1" Name="create-desktop-shortcut.ps1" Source="create-desktop-shortcut.ps1" />
      </Component>
      
      <Component Id="UpdateShortcutScript" Guid="*">
        <File Id="UpdateShortcutPs1" Name="update-desktop-shortcut.ps1" Source="update-desktop-shortcut.ps1" />
      </Component>
      
      <!-- Data directory -->
      <Component Id="DataDirectory" Guid="*">
        <CreateFolder />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <!-- Desktop shortcut to launcher -->
    <Component Id="DesktopShortcut" Directory="DesktopFolder" Guid="*">
      <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="Guardian - Minecraft Server Manager" WorkingDirectory="INSTALLFOLDER" Icon="GuardianExe" Advertise="yes" />
      <RemoveFolder Id="DesktopShortcut" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\Guardian" Name="installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <!-- Start menu shortcuts -->
    <Component Id="StartMenuShortcuts" Directory="ApplicationProgramsFolder" Guid="*">
      <Shortcut Id="StartMenuShortcut" Directory="ApplicationProgramsFolder" Name="Guardian - Minecraft Server Manager" WorkingDirectory="INSTALLFOLDER" Icon="GuardianExe" Advertise="yes" />
      <Shortcut Id="PowerShellShortcut" Directory="ApplicationProgramsFolder" Name="Guardian (PowerShell)" WorkingDirectory="INSTALLFOLDER" Icon="GuardianExe" Advertise="yes" />
      <Shortcut Id="CreateShortcutMenu" Directory="ApplicationProgramsFolder" Name="Create Desktop Shortcut" WorkingDirectory="INSTALLFOLDER" Icon="GuardianExe" Advertise="yes" />
      <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\Guardian" Name="installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <!-- Application shortcut (for MSI compatibility) -->
    <Component Id="ApplicationShortcut" Directory="INSTALLFOLDER" Guid="*">
      <Shortcut Id="ApplicationShortcut" Directory="INSTALLFOLDER" Name="Guardian - Minecraft Server Manager" WorkingDirectory="INSTALLFOLDER" Icon="GuardianExe" Advertise="yes" />
    </Component>
  </Fragment>
</Wix>
