CREATE TABLE IF NOT EXISTS servers (id TEXT PRIMARY KEY, name TEXT NOT NULL, host TEXT NOT NULL, port INTEGER NOT NULL, rcon_port INTEGER NOT NULL, rcon_password TEXT NOT NULL, java_path TEXT NOT NULL, server_jar TEXT NOT NULL, jvm_args TEXT NOT NULL, server_args TEXT NOT NULL, auto_start BOOLEAN NOT NULL DEFAULT 0, auto_restart BOOLEAN NOT NULL DEFAULT 0, max_players INTEGER NOT NULL, minecraft_version TEXT NOT NULL, created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP, updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP);
